<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Cuaderno de Notas</title>
</head>
<body>
  <!-- Notebook app -->
  <div id="notebook">
    <!-- Sidebar listado notas -->
    <aside class="side-bar">
      <!-- Toolbar -->
      <div class="toolbar">
        <button :title="addButtonTitle" @click="addNote"><i class="material-icons">add</i> Agregar nota</button>
      </div>
      <!-- Listado de notas añadidas -->
      <div class="notes">
        <!-- Repetir este elemento por cada item en el modelo ORDENADO sortedNotes "propiedad computada" (se puede usar of en lugar de in) - escuchar el evento de click en cada elemento para marcarlo como nota seleccionada (pasando el objeto de nota como parametro). Además se añade la clase selected si la nota actual coincide con la nota seleccionada -->
        <div class="note" v-for="note in sortedNotes" @click="selectNote(note)" :class="{selected: note.id === selectedId}">
          <!-- Añadir un icono si la nota actual esta marcada como favorita -->
          <i class="icon material-icons" v-if="note.favorite">star</i>
          {{note.title}}
        </div>
      </div>
    </aside>
    <!-- Main pane -->
    <!-- No tiene sentido mostrar el editor y el previsualizador si no se ha seleccionado una nota para su visualización -->
    <template v-if="selectedNote">
      <section class="main">
        <div class="toolbar">
          <!-- Vincular el control de formulario al modelo para cambiar el titulo de la nota seleccionada -->
          <input type="text" v-model="selectedNote.title" placeholder="Titulo de la Nota">
          <button @click="favoriteNote" title="Nota favorita"><i class="material-icons">{{ selectedNote.favorite ? 'star' : 'star_border' }}</i></button>
          <!-- Eliminar nota -->
          <button title="Remover nota" @click="removeNote"><i class="material-icons">delete</i></button>
        </div>
        <!-- Vincular el control de formulario con la propiedad compitada selectedNote, la cual es un objeto que coincide con la nota previamente seleccionada en la vista -->
        <textarea v-model="selectedNote.content"></textarea>
      </section>
      <!-- Panel de Previsualización | es importante no escapar el contenido, puesto que necesitamos mostrar el resultado en formato HTML. Se recomienda escapar siempre el contenido del usuario para prevenir ataques de secuencia de comandos XSS. En este caso la lógica de la aplicación nos obliga a llevar la contraria -->
      <aside class="preview" v-html="notePreview"></aside>
    </template>  
  </div>

  <!-- Incluir librerías externas - Vue | Marked (parser y compiler markdown) -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.7.0/marked.js"></script>
  <!-- Lógica de la aplicación -->
  <script src="./script.js"></script>

  <script>
    // Ejemplo de uso la librería marked (analiza y compila contenido markdown a HTML)
    const miHtml = marked('**Negritas** *Cursivas* [link](http://vuejs.org) #Titular h1')
    console.log(miHtml)

    // Recuperar el contenido almacenado en localStorage
    console.log('Cargar contenido previamente guardado', localStorage.getItem('content'))
  </script>
</body>
</html>